.listview{
    text-align: center !important;
}
ul{
    list-style-type: none;
}
.categories{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.5% 5%;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.categories:hover{
    background-color: rgb(160, 87, 147);
}

.select-cat{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 3% ;
}

.list2{
    text-align: center;
}
.btn1{
    border: 1px solid black !important;
}

@media (max-width: 500px) {
    
    .select-cat {
        margin-top: 40%;
        padding-bottom: 3% !important;
    }
  }