.create_pics{
    margin-top: 12%;
    text-align: center;
}
.uploadtext{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
    margin-bottom: 3% ;
}
#createpic_form p input{
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#createpic_form p label {
    color: white;
}

@media (max-width: 500px) {
    .create_pics{
        margin-top: 40% !important;
    }
  }